$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;
$pale-yellow: #fff0b5;
$milk-chocolate: #a25412;
$dark-chocolate: #2f1200;
$peach: #f7af67;
$sky-blue: #4dd1e8;
$light-violet: #ad80ad;
$red: #d63047;
$cream: #f9e7e6;
$violet: #7d315b;
$pink: #eaa9bf;
$lilac: #bda0bc;
