@import "./colors.scss";


.catImage {
    height: 300px;
    width: 350px;
    border: solid 5px $violet;
    margin: 20px;
    border-radius: 10px;
}

// .row {
//     display: flex;
//     flex-wrap: wrap;
//     padding: 0 4px;
// }

// .column {
//     float: left;
//     width: 50%;
//     padding: 10px
// }

// .column img {
//     margin-top: 8px;
//     vertical-align: middle;
// }

.photoGallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

}

.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 1rem;
    grid-auto-flow: row;
}

// .photoGallery img {
//     width:25%
// }