@import "./colors.scss";

.catImage {
  height: 300px;
  width: 350px;
  border: solid 5px $violet;
  margin: 20px;
  border-radius: 10px;
}

.photoGallery {
  display: grid;
  grid-gap: 10px;
  // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.photoGallery img {
  width: 25%;
}
